<!-- form -->
<form action="#" class="my-12">
	<div class="mt-12">
		<!-- form legend -->
		<div>
			<p>Payment</p>
		</div>


		<div class="mt-4 border rounded">
			<label class="flex justify-between py-3 px-3 border-b">
				<div class="flex items-center">
					<input class="mr-2 leading-tight w-4 h-4" type="radio" name="payment">
					<span class="text-sm">
					  Cash on Delivery
					</span>
				</div>
				<div class="w-16">
					<img src="<?= base_url('public/img/logo-cod.png') ?>" class="w-full">
				</div>
		      	
		    </label>

		    <label class="flex justify-between py-3 px-3">
				<div class="flex items-center">
					<input class="mr-2 leading-tight w-4 h-4" type="radio" name="payment">
					<span class="text-sm">
					  BCA Virtual Account
					</span>
				</div>
				<div class="w-16">
					<img src="<?= base_url('public/img/logo-bca.png') ?>" class="w-full">
				</div>
		      	
		    </label>
		</div>
	</div>


	<div class="mt-8 flex justify-between">
		<div class="flex items-center">
			<i class="material-icons">
			arrow_back_ios
			</i>
			
			<a href="<?= site_url('/checkout/shipping') ?>" class="no-underline">
				Return to shipping method
			</a>
		</div>
		<a href="<?= site_url('/checkout/confirm') ?>" class="checkout-btn link-btn">Complete Order</a>
	</div>
</form>