<!-- products are in cart -->
<ul class="list-reset">
	<li class="cart-item">
		<div class="row">
			<!-- img -->
			<div class="w-2/5 mr-auto h-64 bg-teal ">
				
			</div>
			<div class="w-1/2">
				<header class="product-header flex">
					<div class="mr-4">
						<!-- product name -->
						<p>Cras vitae diam placerat, lobortis arcu nec</p>
						<!-- price -->
						<p>Rp 350.000</p>
					</div>
					<i class="material-icons cursor-pointer">
					close
					</i>
				</header>

				<!-- qty modifier -->
				<div class="mt-8 border inline-flex items-center">
					<button class="border-r p-1">
						<i class="material-icons">
						keyboard_arrow_left
						</i>
					</button>
					<span class="px-4">1</span>
					<button class="border-l p-1">
						<i class="material-icons">
						keyboard_arrow_right
						</i>
					</button>
				</div>

			</div>
		</div>
	</li>

	<li class="cart-item">
		<div class="row">
			<!-- img -->
			<div class="w-2/5 mr-auto h-64 bg-teal ">
				
			</div>
			<div class="w-1/2">
				<header class="product-header flex">
					<div class="mr-4">
						<!-- product name -->
						<p>Cras vitae diam placerat, lobortis arcu nec</p>
						<!-- price -->
						<p>Rp 350.000</p>
					</div>
					<i class="material-icons cursor-pointer">
					close
					</i>
				</header>

				<!-- qty modifier -->
				<div class="mt-8 border inline-flex items-center">
					<button class="border-r p-1">
						<i class="material-icons">
						keyboard_arrow_left
						</i>
					</button>
					<span class="px-4">1</span>
					<button class="border-l p-1">
						<i class="material-icons">
						keyboard_arrow_right
						</i>
					</button>
				</div>

			</div>
		</div>
	</li>

	<li class="cart-item">
		<div class="row">
			<!-- img -->
			<div class="w-2/5 mr-auto h-64 bg-teal ">
				
			</div>
			<div class="w-1/2">
				<header class="product-header flex">
					<div class="mr-4">
						<!-- product name -->
						<p>Cras vitae diam placerat, lobortis arcu nec</p>
						<!-- price -->
						<p>Rp 350.000</p>
					</div>
					<i class="material-icons cursor-pointer">
					close
					</i>
				</header>

				<!-- qty modifier -->
				<div class="mt-8 border inline-flex items-center">
					<button class="border-r p-1">
						<i class="material-icons">
						keyboard_arrow_left
						</i>
					</button>
					<span class="px-4">1</span>
					<button class="border-l p-1">
						<i class="material-icons">
						keyboard_arrow_right
						</i>
					</button>
				</div>

			</div>
		</div>
	</li>
</ul>