<!-- order history -->
<div>
	<div class="mb-8 border-b pb-2">
		<header class="flex justify-between">
			<span class="font-semibold">Electrobox</span>
			<span class="font-semibold">#1312</span>
		</header>
		<div class="text-grey-darker text-sm">
			<span>3 Mei 2019</span>
			<span class="w-1 h-1 bg-blue-light inline-block rounded-full"></span>
			<span class="text-blue">Delivered</span>
		</div>
		<div class="flex justify-between items-center -mx-2">
			<div class="flex items-center">
				<a href="<?= site_url('/product/cart') ?>"><img class="h-4 w-4 m-2" src="https://cdn.shopify.com/s/files/1/0088/4005/2836/t/8/assets/bag.svg?81" alt=""></a>
				<span>2 item purchased</span>
			</div>
			<div>
				<span>Total</span>
				<span class="font-semibold">Rp 700.000</span>
			</div>
			<div class="flex items-center">
				<span>detail</span>
				<i class="material-icons">
				expand_more
				</i>
			</div>
		</div>
	</div>

	<div class="flex flex-wrap -mx-4">
		<div class="w-1/2 px-4">
			<ul class="order-list">
				<li class="order-item">
					<!-- image -->
					<div class="image-stack px-2">
						<div class="bg-black h-16">
							
						</div>
						<span class="top-right-bubble">
							2
						</span>
					</div>
					<div class="flex-1 px-2">
						<!-- product name -->
						<p class="product-name">Cras vitae diam placerat, lobortis arcu nec</p>
						<!-- price -->
						<p class="product-price">Rp 350.000</p>
					</div>
				</li>

				<li class="order-item">
					<!-- image -->
					<div class="image-stack px-2">
						<div class="bg-black h-16">
							
						</div>
						<span class="top-right-bubble">
							2
						</span>
					</div>
					<div class="flex-1 px-2">
						<!-- product name -->
						<p class="product-name">Cras vitae diam placerat, lobortis arcu nec</p>
						<!-- price -->
						<p class="product-price">Rp 350.000</p>
					</div>
				</li>

				<li class="order-item">
					<!-- image -->
					<div class="image-stack px-2">
						<div class="bg-black h-16">
							
						</div>
						<span class="top-right-bubble">
							10
						</span>
					</div>
					<div class="flex-1 px-2">
						<!-- product name -->
						<p class="product-name">Cras vitae diam placerat, lobortis arcu nec</p>
						<!-- price -->
						<p class="product-price">Rp 350.000</p>
					</div>
				</li>

			</ul>
		</div>
		<div class="w-1/2 px-4">
			<div class=" mb-3 ">
				<p class="font-semibold leading-normal">Payment method</p>
				<p>Cash on Delivery</p>
			</div>
			<div class="mb-3 ">
				<p class="font-semibold leading-normal">Shipping address</p>
				<p>
					gerald luther
					5thstreet
					appt3
					JK
					Olympia 11330
					Indonesia
					‎0812-4091-312
				</p>
			</div>
			<div class="mb-3  ">
				<p class="font-semibold leading-normal">Shipping method</p>
				<p>
					Free Shipping
				</p>
			</div>
		</div>			
	</div>
</div>