<div class="w-2/5 pt-16 pl-12 pr-32 bg-teal-lightest">
	<!-- list of products being bought -->
	<ul class="list-reset">
		<li class="flex -mx-4 items-center mb-4">
			<!-- image -->
			<div class="w-1/4 px-4 relative">
				<div class="bg-black h-16">
					
				</div>
				<span class=" text-sm px-2 flex inline-flex text-white items-center justify-center rounded-full absolute bg-red" style="top: -15%; right: 10%; min-height:1.5rem; min-width:1.5rem; background-color: rgba(114,114,114,0.9);" >
					1
				</span>
			</div>
			<div class="flex-1 px-4">
				<!-- product name -->
				<p class="product-name">Cras vitae diam placerat, lobortis arcu nec</p>
			</div>
			<div class="px-4">
				<!-- price -->
				<p class="product-price">Rp 350.000</p>
			</div>
		</li>

		<li class="flex -mx-4 items-center">
			<!-- image -->
			<div class="w-1/4 px-4 relative">
				<div class="bg-black h-16">
					
				</div>
				<span class=" text-sm px-2 flex inline-flex text-white items-center justify-center rounded-full absolute bg-red" style="top: -15%; right: 10%; min-height:1.5rem; min-width:1.5rem; background-color: rgba(114,114,114,0.9);" >
					1
				</span>
			</div>
			<div class="flex-1 px-4">
				<!-- product name -->
				<p class="product-name">Cras vitae diam placerat, lobortis arcu nec</p>
			</div>
			<div class="px-4">
				<!-- price -->
				<p class="product-price">Rp 350.000</p>
			</div>
		</li>
	</ul>
	
	<!-- transaction detail -->
	<div>
		<div class="border-b border-t mt-4 py-6">
			<div class="flex justify-between">
				<p>Subtotal</p>
				<p>Rp 350.000</p>
			</div>

			<div class="flex justify-between mt-2">
				<p>Shipping</p>
				<p class="text-sm text-grey">Calculated at next step</p>
			</div>
		</div>

		<div class="flex justify-between mt-2 mt-6">
			<p>Total</p>
			<p class="font-semibold text-lg">Rp 350.000</p>
		</div>
	</div>
</div>