<!-- form -->
<form action="#" class="my-12">
	<div class="mt-12">
		<!-- form legend -->
		<div>
			<p>Shipping method</p>
		</div>


		<div class="mt-4 border rounded">
			<label class="flex justify-between py-3 px-3 border-b">
				<div class="flex items-center">
					<input class="mr-2 leading-tight w-4 h-4" type="radio" name="shipping">
					<span class="text-sm">
					  Free Shipping over Rp 100.000
					</span>
				</div>
		      	<span class="font-semibold">Free</span>
		    </label>

		    <label class="flex justify-between py-3 px-3">
				<div class="flex items-center">
					<input class="mr-2 leading-tight w-4 h-4" type="radio" name="shipping">
					<span class="text-sm">
					  One night delivery service
					</span>
				</div>
		      	<span class="font-semibold">Rp 350.000</span>
		    </label>
		</div>
	</div>


	<div class="mt-8 flex justify-between">
		<div class="flex items-center">
			<i class="material-icons">
			arrow_back_ios
			</i>
			
			<a href="<?= site_url('/checkout/information') ?>" class="no-underline">
				Return to customer information
			</a>
		</div>
		
		
		<a href="<?= site_url('/checkout/payment') ?>" class="checkout-btn link-btn">Continue to payment method</a>
		
	</div>
</form>