<!-- Form field -->
<form action="" method="POST">
	<div class="form-group-underline">
		<input class="form-control-underline" name="email" type="text" placeholder="Email">
	</div>

	<div class="form-group-underline">
		<input class="form-control-underline" name="password" type="password" placeholder="Password">
		<p class="text-grey-darkest text-xs">Forget Password?</p>
	</div>

	<div>
		<a href="<?= site_url('/account/profile') ?>" class="mt-10 block full-btn secondary-btn link-btn">LOGIN</a>
	</div>
</form>