<div class="w-1/3 my-4">
	<a class="no-underline text-grey-darkest" href="<?= site_url('/product/show/1') ?>">
		<div class="h-64 bg-teal"></div>
		<div class="product-short-desc">
			<p>Lorem ipsum</p>
			<p>Rp 350.000</p>
		</div>
	</a>
</div>
<div class="w-1/3 my-4">
	<a class="no-underline text-grey-darkest" href="<?= site_url('/product/show/1') ?>">
		<div class="h-64 bg-teal-light"></div>
		<div class="product-short-desc">
			<p>Fusce lacinia lacus lectus</p>
			<p>Rp 350.000</p>
		</div>
	</a>
</div>
<div class="w-1/3 my-4">
	<a class="no-underline text-grey-darkest" href="<?= site_url('/product/show/1') ?>">
		<div class="h-64 bg-teal-darker"></div>
		<div class="product-short-desc">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<p>Rp 350.000</p>
		</div>
	</a>
</div>
<div class="w-1/3 my-4">
	<a class="no-underline text-grey-darkest" href="<?= site_url('/product/show/1') ?>">
		<div class="h-64 bg-teal-darker"></div>
		<div class="product-short-desc">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<p>Rp 350.000</p>
		</div>
	</a>
</div>
<div class="w-1/3 my-4">
	<a class="no-underline text-grey-darkest" href="<?= site_url('/product/show/1') ?>">
		<div class="h-64 bg-teal"></div>
		<div class="product-short-desc">
			<p>Lorem ipsum</p>
			<p>Rp 350.000</p>
		</div>
	</a>
</div>