<!-- form -->
<form action="#" class="my-12">
	<div>
		<!-- form legend -->
		<div class="flex justify-between">
			<p>Contact Information</p>
			<p>Already have an account? <a href="<?= site_url('/account') ?>">Log in</a></p>
		</div>

		<!-- <div class="mt-4">
			<input class="w-full p-4 border border rounded" type="text" name="email" placeholder="Email">
		</div> -->
		<div class="mt-4 relative border rounded mb-4 appearance-none label-floating">
	        <input class="w-full py-2 px-3 text-green-darker leading-normal rounded" name="email" id="email" type="text" placeholder="Email">
	        <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="email">
	          Email
	        </label>
	    </div>

		<div class="mt-4">
			<label class="flex items-center">
		      <input class="mr-2 leading-tight w-4 h-4" type="checkbox">
		      <span class="text-sm">
		        Keep me up to date on news and exclusive offers
		      </span>
		    </label>
		</div>
	</div>

	<div class="mt-12">
		<!-- form legend -->
		<div>
			<p>Shipping Address</p>
		</div>

		<div class="mt-4 flex -mx-2">
			<div class="w-1/2 px-2">
				<!-- <input class="w-full p-4 border border rounded" type="text" name="firstName" placeholder="First Name"> -->
				<div class="relative border rounded mb-4 appearance-none label-floating">
			        <input class="w-full py-2 px-3 text-green-darker leading-normal rounded" name="firstName" id="firstName" type="text" placeholder="First Name">
			        <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="firstName">
			          First Name
			        </label>
			    </div>
			</div>
			<div class="w-1/2 px-2" >
				<!-- <input class="w-full p-4 border border rounded" type="text" name="lastName" placeholder="Last Name"> -->
				<div class="relative border rounded mb-4 appearance-none label-floating">
			        <input class="w-full py-2 px-3 text-green-darker leading-normal rounded" name="lastName" id="lastName" type="text" placeholder="Last Name">
			        <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="lastName">
			          Last Name
			        </label>
			    </div>
			</div>
		</div>

		<div>
			<!-- <input class="w-full p-4 border border rounded" type="text" name="address" placeholder="Address"> -->
			<div class="relative border rounded mb-4 appearance-none label-floating">
		        <input class="w-full py-2 px-3 text-green-darker leading-normal rounded" name="address" id="address" type="text" placeholder="Address">
		        <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="address">
		          Address
		        </label>
		    </div>
		</div>

		<div>
			<div class="relative border rounded mb-4 appearance-none label-floating">
		        <input class="w-full py-2 px-3 text-green-darker leading-normal rounded" name="city" id="city" type="text" placeholder="City">
		        <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="city">
		          City
		        </label>
		    </div>
		</div>
		
		<div class="mt-4 flex -mx-2">
			<div class="relative w-1/3 mx-2">
				<label class="pointer-events-none absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="country" style="font-size: 0.6rem;">
				  Country/Region
				</label>
			    <select class="pt-6 block appearance-none w-full bg-white border border-grey-light hover:border-grey px-3 py-2 pr-12 rounded  leading-tight focus:outline-none" id="country" name="country">
				    <option>Indonesia</option>
				    <option>Jerman</option>
				    <option>Malaysia</option>
			    </select>
			  	<div class="border-l h-8 pointer-events-none absolute flex items-center px-2 text-grey-darker" style="top: 25%; right: 0;">
			    	<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
			  	</div>
			</div>

			<div class="relative w-1/3 mx-2">
				<label class="pointer-events-none absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="province" style="font-size: 0.6rem;">
				  Province
				</label>
			    <select class="pt-6 block appearance-none w-full bg-white border border-grey-light hover:border-grey px-3 py-2 pr-12 rounded  leading-tight focus:outline-none" id="province" name="province">
				    <option>Aceh</option>
				    <option>DKI Jakarta</option>
				    <option>Bengkulu</option>
			    </select>
			  	<div class="border-l h-8 pointer-events-none absolute flex items-center px-2 text-grey-darker" style="top: 25%; right: 0;">
			    	<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
			  	</div>
			</div>

			<div class="w-1/3 mx-2">
				<div class="relative border rounded mb-4 appearance-none label-floating">
			        <input class="w-full py-2 px-3 text-green-darker leading-normal rounded" name="postalCode" id="postalCode" type="text" placeholder="Postal Code">
			        <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="postalCode">
			          Postal Code
			        </label>
			    </div>
			</div>
		</div>

		<div class="mt-3">
			<!-- <input class="w-full p-4 border border rounded" type="text" name="address" placeholder="Address"> -->
			<div class="relative border rounded mb-4 appearance-none label-floating">
		        <input class="w-full py-2 px-3 text-green-darker leading-normal rounded" name="phone" id="phone" type="text" placeholder="Phone">
		        <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="phone">
		          Phone
		        </label>
		    </div>
		</div>
	</div>

	<div class="mt-8 flex justify-between">
		<div class="flex items-center">
			<i class="material-icons">
			arrow_back_ios
			</i>
			
			<a href="<?= site_url('/product/cart') ?>" class="no-underline">
				Return to cart
			</a>
		</div>
		
		
		<a href="<?= site_url('/checkout/shipping') ?>" class="checkout-btn link-btn">Continue to shipping method</a>
		
	</div>
</form>