<div class="cart-overlay active">
		<div class="sm:w-3/5 lg:w-2/5 cart">
			<header class="flex justify-between">
				<p>MY BAG</p>
				<i class="material-icons cursor-pointer">
				close
				</i>
			</header>
			<p class="my-8 border-t border-b py-4">1 Product was added to your bag</p>
			<!-- products are in cart -->
			<ul class="list-reset">
				<li class="cart-item">
					<div class="row">
						<!-- img -->
						<div class="w-2/5 mr-auto h-64 bg-teal ">
							
						</div>
						<div class="w-1/2">
							<header class="product-header">
								<!-- product name -->
								<p>Cras vitae diam placerat, lobortis arcu nec</p>
								<!-- price -->
								<p>Rp 350.000</p>
							</header>

							<!-- qty modifier -->
							<div class="mt-8 border inline-flex items-center">
								<button class="border-r p-1">
									<i class="material-icons">
									keyboard_arrow_left
									</i>
								</button>
								<span class="px-4">1</span>
								<button class="border-l p-1">
									<i class="material-icons">
									keyboard_arrow_right
									</i>
								</button>
							</div>

						</div>
					</div>
				</li>
			</ul>
			
			

			<div>
				<!-- grand total -->
				<p class="font-semibold">TOTAL Rp 350.000</p>
				<p class="mt-4">Shipping &amp; taxes calculated at checkout</p>

				<div class="flex justify-between flex-wrap -mx-2 mt-10">
					<button class="flex-1 mx-2 secondary-btn">CART</button>
					<button class="flex-1 mx-2 secondary-btn">CHECKOUT</button>
				</div>
			</div>

		</div>
	</div>