<ul class="list-reset -mt-8 overflow-auto">
	<li class="leading-normal py-8 border-b">
		<p class="font-semibold">Yao Shima</p>
		<p>Jl Sawah Besar No 48, Jakarta Pusat, DKI Jakarta, 10921</p>
		<p>081238281282</p>
		<div class="flex mt-1 ">
			<a class="w-1/5 no-underline text-black" href="#">Edit</a>
			<a class="w-1/5 no-underline text-black" href="#">Delete</a>
		</div>
	</li>
	<li class="leading-normal py-8 border-b">
		<p class="font-semibold">Yao Shima</p>
		<p>Jl Sawah Besar No 48, Jakarta Pusat, DKI Jakarta, 10921</p>
		<p>081238281282</p>
		<div class="flex mt-1 ">
			<a class="w-1/5 no-underline text-black" href="#">Edit</a>
			<a class="w-1/5 no-underline text-black" href="#">Delete</a>
		</div>
	</li>
	<li class="leading-normal py-8">
		<p class="font-semibold">Yao Shima</p>
		<p>Jl Sawah Besar No 48, Jakarta Pusat, DKI Jakarta, 10921</p>
		<p>081238281282</p>
		<div class="flex mt-1 ">
			<a class="w-1/5 no-underline text-black" href="#">Edit</a>
			<a class="w-1/5 no-underline text-black" href="#">Delete</a>
		</div>
	</li>
	
</ul>