<!-- Form field -->
<form action="" method="POST">
	<div class="form-group-underline">
		<input class="form-control-underline" name="firstName" type="text" placeholder="First Name">
	</div>

	<div class="form-group-underline">
		<input class="form-control-underline" name="lastName" type="text" placeholder="Last Name">
	</div>

	<div class="form-group-underline">
		<input class="form-control-underline" name="email" type="text" placeholder="Email">
	</div>

	<div class="form-group-underline">
		<input class="form-control-underline" name="password" type="password" placeholder="Password">
	</div>

	<div>
		<a href="<?= site_url('/account/profile') ?>" class="mt-10 block full-btn secondary-btn link-btn">SIGN UP</a>
	</div>
</form>