<template>
    <div class="accordion mt-6">
        <slot></slot>    
    </div>
</template>

<script>
    export default {
        mounted(){
            // assign an index to each accordion item
            this.accordionItems.forEach((item,index) => {
                item.index = index
            })
            // capture an event when accordion item is toggled
            this.$on('toggled',(index)=>{
                this.accordionItems.forEach((item) => {
                    if(item.index == index){
                        item.isOpen = !item.isOpen
                    }
                    else{
                        item.isOpen = false
                    }
                })
            })
        },
        created() {
            // init accordionItems from slot
            this.accordionItems = this.$children
            
        },
        data(){
            return {
                accordionItems : []
            }
        }
    }
</script>
