<template>
    <div class="accordion-item">
        <header @click="toggle" class="cursor-pointer">
            <p>
                <slot name="title"></slot>
            </p>
            <!-- <i class="material-icons">add</i> -->
            <i class="material-icons" :class="{'active-icon':isOpen}">add</i>
        </header>
        <collapse-transition>
            <div v-if="isOpen">
                <p>
                    <slot name="content"></slot>
                </p>
            </div>
        </collapse-transition>
    </div>
</template>

<script>
    import {CollapseTransition} from 'vue2-transitions'
    export default {
        components: {
            CollapseTransition
        },
        data(){
            return {
                isOpen : false,
                index : null
            }
        },
        methods : {
            //emit a toggled event to parent (Accordion.vue)
            toggle(){
                this.$parent.$emit('toggled',this.index)
            }
        }
    }
</script>
