<template>
    <div class="overlay overflow-auto" :class="{'active':isOpen}">
        <div class="w-2/5 relative mx-auto p-8 mt-2">
            <i @click="toggleModal" class="cursor-pointer text-white absolute material-icons" style="top:0; right:0">
            close
            </i>
            
            <form :action="submitAddressLink" method="POST" class="p-6 bg-white">
                <!-- form legend -->
                <div>
                    <p class="text-3xl mb-8">Add new address</p>
                    <p class="text-sm mb-8">Please fill in the information bellow:</p>
                </div>

                <input v-if="customerInfo.id != null" type="hidden" v-model="customerInfo.id" name="id">
                
                <div class="mb-4">
                    <div class="form-group-underline" :class="{'border-red':$v.customerInfo.firstname.$error}">
                        <input v-model="customerInfo.firstname" @focus="$v.customerInfo.firstname.$reset" @blur="$v.customerInfo.firstname.$touch" class="form-control-underline" name="firstName" type="text" placeholder="First Name">
                    </div>
                    <div v-if="$v.customerInfo.firstname.$dirty">
                        <div v-if="!$v.customerInfo.firstname.required" class="-mt-3 text-xs text-red">* First Name is required</div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="form-group-underline" :class="{'border-red':$v.customerInfo.lastname.$error}">
                        <input v-model="customerInfo.lastname" @focus="$v.customerInfo.lastname.$reset" @blur="$v.customerInfo.lastname.$touch" class="form-control-underline" name="lastName" type="text" placeholder="Last Name">
                    </div>
                    <div v-if="$v.customerInfo.lastname.$dirty">
                        <div v-if="!$v.customerInfo.lastname.required" class="-mt-3 text-xs text-red">* Last Name is required</div>
                    </div>
                </div>
                
                <div class="mb-4">
                    <div class="form-group-underline" :class="{'border-red':$v.customerInfo.phone.$error}">
                        <input maxlength="12" v-model="customerInfo.phone" @focus="$v.customerInfo.phone.$reset" @blur="$v.customerInfo.phone.$touch" class="form-control-underline" name="phone" type="text" placeholder="Phone">
                    </div>
                    <div v-if="$v.customerInfo.phone.$dirty">
                        <div v-if="!$v.customerInfo.phone.required" class="-mt-3 text-xs text-red">* Phone is required</div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="border-b" :class="[$v.customerInfo.address.$error ? 'border-red' : 'border-teal']">
                        <resizable-textarea>
                            <textarea ref="addressTextarea" v-model="customerInfo.address" @focus="$v.customerInfo.address.$reset" @blur="$v.customerInfo.address.$touch" rows="1" class=" bg-transparent border-none w-full leading-tight focus:outline-none py-1" placeholder="Address" name="address"></textarea>
                        </resizable-textarea>
                    </div>

                    <div v-if="$v.customerInfo.address.$dirty">
                        <div v-if="!$v.customerInfo.address.required" class="mt-1 text-xs text-red">* Address is required</div>
                    </div>
                </div>

                
                <div class="flex -mx-2 mb-4">
                    <div class="w-1/2 mx-2 ">
                        <div class="relative border-b" :class="[$v.customerInfo.province.$error ? 'border-red' : 'border-teal']">
                            <select @change="updateCity" v-model="customerInfo.province" class="appearance-none w-full focus:outline-none mr-3 py-2" name="province">
                                <option value="" hidden disabled>Choose Province</option>
                                <option v-for="province in listOfProvince" :value="province">{{province}}</option>
                            </select>
                            <div class="h-full pointer-events-none absolute flex items-center px-2 text-grey-darker" style="top: 0; right: 0;">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                        </div>
                        <div v-if="$v.customerInfo.province.$dirty">
                            <div v-if="!$v.customerInfo.province.required" class="mt-1 text-xs text-red">* Province is required</div>
                        </div>
                    </div>
                    <div class="w-1/2 mx-2 ">
                        <div class="relative border-b" :class="[$v.customerInfo.city.$error ? 'border-red' : 'border-teal']">
                            <select :disabled="listOfCity.length == 0 " @change="updateSubdistrict" v-model="customerInfo.city" class="appearance-none w-full focus:outline-none mr-3 py-2" name="city">
                                <option value="" hidden disabled>Choose City</option>
                                <option v-for="city in listOfCity" :value="city">{{city}}</option>
                            </select>
                            <div class="h-full pointer-events-none absolute flex items-center px-2 text-grey-darker" style="top: 0; right: 0;">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                        </div>
                        <div v-if="$v.customerInfo.city.$dirty">
                            <div v-if="!$v.customerInfo.city.required" class="mt-1 text-xs text-red">* City is required</div>
                        </div>
                    </div>


                </div>

                <div class="flex -mx-2 mb-4">
                    <div class="w-1/2 mx-2 ">
                        <div class="relative border-b" :class="[$v.customerInfo.sub_district.$error ? 'border-red' : 'border-teal']">
                            <select :disabled="listOfSubdistrict.length == 0 " v-model="customerInfo.sub_district" class="appearance-none w-full focus:outline-none mr-3 py-2" name="sub_district">
                                <option value="" hidden disabled>Choose Sub-district</option>
                                <option v-for="subdistrict in listOfSubdistrict" :value="subdistrict">{{subdistrict}}</option>
                            </select>
                            <div class="h-full pointer-events-none absolute flex items-center px-2 text-grey-darker" style="top: 0; right: 0;">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                        </div>
                        <div v-if="$v.customerInfo.sub_district.$dirty">
                            <div v-if="!$v.customerInfo.sub_district.required" class="mt-1 text-xs text-red">* Sub-district is required</div>
                        </div>
                    </div>

                    <div class="w-1/2 mx-2 ">
                        <div class="form-group-underline" :class="{'border-red':$v.customerInfo.postal_code.$error}">
                            <input maxlength="5" v-model="customerInfo.postal_code" @focus="$v.customerInfo.postal_code.$reset" @blur="$v.customerInfo.postal_code.$touch" class="form-control-underline" name="postal_code" type="text" placeholder="Postal Code">
                        </div>
                        <div v-if="$v.customerInfo.postal_code.$dirty">
                            <div v-if="!$v.customerInfo.postal_code.required" class="-mt-3 text-xs text-red">* Postal Code is required</div>
                        </div>
                    </div>

                </div>
                
                <div>                    
                    <button v-if="isUpdate" type="submit" @click="submitAddress" class="secondary-btn full-btn">UPDATE</button>
                    <button v-else type="submit" @click="submitAddress" class="secondary-btn full-btn">ADD</button>
                </div>
                


            </form>
        </div>
    </div>
</template>

<script>
    import { required } from 'vuelidate/lib/validators'
    import ResizableTextarea from './../utils/ResizeableTextArea.js'
    import { Address } from './../utils/Address.js'
    export default {
        watch:{
           'customerInfo.phone' : function(val) {
               this.customerInfo.phone = val.replace(/\D/g,'');
            },
            'customerInfo.postalCode' : function(val)  {
               this.customerInfo.postalCode = val.replace(/\D/g,'');
            },
        },
        mounted(){

        },

        components: { ResizableTextarea },

        data(){
            return {
                customerInfo : {
                    firstname : '',
                    lastname : '',
                    province : '',
                    city : '',
                    sub_district : '',
                    postal_code: '',
                    address : '',
                    phone: ''
                },

                isOpen : false,
                isUpdate : false,

                listOfProvince : Address.getProvince(),
                listOfCity : [],
                listOfSubdistrict : [],
            }
        },
        validations: {
            customerInfo : {
                firstname: { required },
                lastname: { required },
                province: { required },
                city: { required },
                sub_district: { required },
                postal_code: { required },
                address: { required },
                phone: { required }
            }
            

        },
        methods : {
            toggleModal(e,address){
                if(address){
                    // tell that the request is updating the address
                    this.isUpdate = true

                    // initialize city & subdistrict
                    this.listOfCity = Address.getCity(address.province)
                    this.listOfSubdistrict = Address.getSubdistrict(address.city)
                    // fill all fields with the intended address 
                    this.customerInfo = address
                    // resize textarea on click
                    this.$refs.addressTextarea.click()
                }
                else{
                    
                    setTimeout(() => {
                        this.isUpdate = false
                        this.$v.$reset();
                        this.customerInfo = {
                            firstname : '',
                            lastname : '',
                            province : '',
                            city : '',
                            sub_district : '',
                            postal_code: '',
                            address : '',
                            phone: ''
                        }
                    }, 500);
                    
                }
                this.isOpen = !this.isOpen
            },
            updateCity(){
                this.listOfSubdistrict = []
                this.customerInfo.sub_district =""
                this.customerInfo.city = ""
                this.listOfCity = Address.getCity(this.customerInfo.province)
            },
            updateSubdistrict(){
                this.listOfSubdistrict = []
                this.customerInfo.sub_district =""
                this.listOfSubdistrict = Address.getSubdistrict(this.customerInfo.city)
            },
            submitAddress(e){
                this.$v.$touch();
                if (this.$v.$invalid) {
                   e.preventDefault()
                }
                // else{
                //     // send ajax request
                //     this.toggleModal()
                // }
            }
        },
        computed : {
            submitAddressLink(){
                if(this.isUpdate){
                    return window.location.origin + '/index.php/address/update/' + this.customerInfo.id;
                }
                else{
                    return window.location.origin + '/index.php/address';
                }
                
            }
        },
    }
</script>
