<template>
    <div class="px-8 sm:px-0 row justify-between">
        <div class="w-full mb-10 md:mb-0 md:w-3/5">
            <a :href="homeLink" class="no-underline">
                <header class="flex items-center border-b py-8 cursor-pointer">
                    <i class="material-icons text-black">
                    arrow_back_ios
                    </i>
                    <p>Back</p>
                </header>
            </a>
            
            <p class="py-8">MY CART</p>
            <!-- products are in cart -->
            <ul class="list-reset">
                <cart-item v-for="item in cartItems" :closeable="true" :item="item" :key="item.product.id"></cart-item>
            </ul>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/4 h-64 py-8 sticky pin-t">
            <div>
                <!-- grand total -->
                <p class="font-semibold">TOTAL {{parseInt(subtotal) | toCurrency}}</p>
                <p class="mt-4">Shipping &amp; taxes calculated at checkout</p>
                
                <div>
                    <a :href="checkoutLink" class="mt-10 block full-btn secondary-btn link-btn">CHECKOUT</a>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
    import CartItem from './CartItem.vue';
    import axios from 'axios';

    const BASE_LINK = window.location.origin ;

    export default {
        watch : {
            'currentUser' : function(val) {
                if(!this.$parent.isEmptyObject(val)){
                    // do an ajax request for user cart
                    axios.get(BASE_LINK + '/index.php/cart/' + this.currentUser.id)
                    .then((response) => {
                        this.cartItems = response.data
                    })
                }
                
            }
        },
        mounted(){
            axios.get(BASE_LINK + '/index.php/user/current')
            .then((response) => {
                this.currentUser = response.data
            })

            this.$on('increased',(item)=>{
                
                let itemIdx = this.cartItems.indexOf(item)
                this.cartItems[itemIdx].qty++

                if(this.isLogin()){
                    // send ajax request to update qty of the product 
                    axios.put(BASE_LINK + '/index.php/cart',{
                     'id' : this.cartItems[itemIdx].id,
                     'qty' : this.cartItems[itemIdx].qty,
                     'subtotal' : this.cartItems[itemIdx].product.price*this.cartItems[itemIdx].qty
                    })
                }
                else{
                  localStorage.setItem('cartItems', JSON.stringify(this.cartItems));  
                }
                

            })

            this.$on('decreased',(item)=>{
                
                let itemIdx = this.cartItems.indexOf(item)
                this.cartItems[itemIdx].qty--
                if(this.isLogin()){
                    // send ajax request to update qty of the product 
                    axios.put(BASE_LINK + '/index.php/cart',{
                     'id' : this.cartItems[itemIdx].id,
                     'qty' : this.cartItems[itemIdx].qty,
                     'subtotal' : this.cartItems[itemIdx].product.price*this.cartItems[itemIdx].qty
                    })
                }
                else{
                   localStorage.setItem('cartItems', JSON.stringify(this.cartItems)); 
                }
                

            })

            this.$on('removed',(item)=>{
                
                let itemIdx = this.cartItems.indexOf(item)
                let id = this.cartItems[itemIdx].id
                this.cartItems.splice(itemIdx,1)

                if(this.isLogin()){
                    axios.delete(BASE_LINK + '/index.php/cart',{
                     data : {
                         'id' : id
                     }
                    })
                }
                else{
                    localStorage.setItem('cartItems', JSON.stringify(this.cartItems));
                }
                


                if(this.cartItems.length == 0){
                    localStorage.removeItem('cartItems')
                    this.$parent.$emit('emptyCart')
                }

            })

           


            if (localStorage.getItem('cartItems')) {
              try {
                this.cartItems = JSON.parse(localStorage.getItem('cartItems'));
              } catch(e) {
                localStorage.removeItem('cartItems');
              }
            }
        },

        components: {
            CartItem
        },
        computed : {
            checkoutLink(){
                return window.location.origin + '/index.php/checkout/information';
            },
            homeLink(){
                return window.location.origin + '/';
            },
            subtotal(){
                let subtotal = 0
                this.cartItems.forEach((item)=>{
                    subtotal += item.product.price * item.qty
                })
                return subtotal
            }
        },
        data(){
            return {
                cartItems : [],
                currentUser : {}
            }
        },
        methods : {
            isLogin(){
                return !(Object.keys(this.currentUser).length === 0 && this.currentUser.constructor === Object)
            }
        }
    }
</script>
