<template>
    <fade-transition>
        <li v-if="!isRemoved" class="cart-item">
            <div class="row">
                <!-- img -->
                <div class="w-2/5 mr-auto">
                    <img class="shadow" :src="imageLink" alt="">
                </div>
                
                <div class="w-1/2">
                    <header v-if="closeable" class="product-header flex justify-between">
                        <div class="mr-4">
                            <!-- product name -->
                            <p>{{item.product.name}}</p>
                            <!-- price -->
                            <p>{{parseInt(item.product.price) | toCurrency}}</p>
                        </div>
                        <i @click="remove" class="material-icons cursor-pointer">
                        close
                        </i>
                    </header>
                    <header v-else class="product-header">
                        <!-- product name -->
                        <p>{{item.product.name}}</p>
                        <!-- price -->
                        <p>{{parseInt(item.product.price) | toCurrency}}</p>
                    </header>

                    <!-- qty modifier -->
                    <div class="mt-8 border inline-flex items-center">
                        <button @click="decreased" class="border-r p-1" :disabled="!canDecrease">
                            <i class="material-icons">
                            keyboard_arrow_left
                            </i>
                        </button>
                        <span class="px-4">{{item.qty}}</span>
                        <button @click="increased" class="border-l p-1">
                            <i class="material-icons">
                            keyboard_arrow_right
                            </i>
                        </button>
                    </div>

                </div>
            </div>
        </li>
    </fade-transition>
    
</template>

<script>
    import {FadeTransition} from 'vue2-transitions'
    export default {
        watch : {
            'item.qty' : function(val){
                this.checkQty()
            }
        },
        components: {
            FadeTransition
        },
        mounted() {
            this.checkQty()
        },
        computed : {
            imageLink(){
                return window.location.origin + '/public/img/'+this.item.product.image;
            }
        },
        props : {
            item : {
                required : true
            },
            closeable : {
                default : false
            }
        },
        methods : {
            checkQty(){
                if(this.item.qty > 1){
                    this.canDecrease = true
                }
                else{
                    this.canDecrease = false
                }
            },
            increased(){
                
                this.$parent.$emit('increased',this.item)
                this.checkQty()
            },
            decreased(){
                
                this.$parent.$emit('decreased',this.item)
                this.checkQty()
            },
            remove(){
                this.isRemoved = true
                this.$parent.$emit('removed',this.item)
            }
        },
        data(){
            return {
                canDecrease : null,
                isRemoved : false
            }
        }
    }
</script>
