<template>
    <div class="w-2/5 pt-16 pl-12 pr-32 bg-teal-lightest">
        <!-- list of products being bought -->
        <ul class="list-reset">
            <li v-for="item in cartItems" class="flex -mx-4 items-center mb-4">
                <!-- image -->
                <div class="w-1/4 px-4 relative">
                    <img class="shadow" :src="imageLink(item)" alt="">
                    <span class=" text-sm px-2 flex inline-flex text-white items-center justify-center rounded-full absolute bg-red" style="top: -15%; right: 10%; min-height:1.5rem; min-width:1.5rem; background-color: rgba(114,114,114,0.9);" >
                        {{item.qty}}
                    </span>
                </div>
                <div class="flex-1 px-4">
                    <!-- product name -->
                    <p class="product-name">{{item.product.name}}</p>
                </div>
                <div class="px-4">
                    <!-- price -->
                    <p class="product-price">{{parseInt(item.subtotal) | toCurrency}}</p>
                </div>
            </li>
        </ul>
        
        <!-- transaction detail -->
        <div>
            <div class="border-b border-t mt-4 py-6">
                <div class="flex justify-between">
                    <p>Subtotal</p>
                    <p>{{parseInt(subtotal) | toCurrency}}</p>
                </div>

                <div class="flex justify-between mt-2">
                    <p>Shipping</p>
                    <p v-if="$parent.customerInfoGeneral.shipping_fee != null"> {{parseInt($parent.customerInfoGeneral.shipping_fee) | toCurrency}}</p>
                    <p v-else class="text-sm text-grey">Calculated at next step</p>
                    
                </div>
            </div>

            <div class="flex justify-between mt-2 mt-6">
                <p>Total</p>
                <p class="font-semibold text-lg">{{parseInt(total) | toCurrency}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    const BASE_LINK = window.location.origin ;
    export default {
        watch : {
            'currentUser' : function(val) {
                if(!this.$parent.isEmptyObject(val)){
                    if (localStorage.getItem('confirmationCartItems')) {
                      try {
                        this.cartItems = JSON.parse(localStorage.getItem('confirmationCartItems'));
                        localStorage.removeItem('confirmationCartItems');
                      } catch(e) {
                        localStorage.removeItem('confirmationCartItems');
                      }
                    }
                    else{
                      // do an ajax request for user cart
                      axios.get(BASE_LINK + '/index.php/cart/' + this.currentUser.id)
                      .then((response) => {
                          this.cartItems = response.data
                      })  
                    }
                    
                }
                
            }
        },
        mounted(){
            axios.get(BASE_LINK + '/index.php/user/current')
            .then((response) => {
                this.currentUser = response.data
            })

            if (localStorage.getItem('cartItems')) {
              try {
                this.cartItems = JSON.parse(localStorage.getItem('cartItems'));
              } catch(e) {
                localStorage.removeItem('cartItems');
              }
            }

        },

        computed : {
            subtotal(){
                let subtotal = 0
                this.cartItems.forEach((item)=>{
                    subtotal += item.product.price * item.qty
                })
                return subtotal
            },

            total(){
                let shippingFee = this.$parent.customerInfoGeneral.shipping_fee || 0
                return this.subtotal + shippingFee
            }
            
        },
        data(){
            return {
                currentUser : {},
                cartItems : []
            }
        },
        methods : {
            imageLink(selectedItem){
                this.selectedItem = this.cartItems.find((item) => {
                    return item.id == selectedItem.id
                })
                return window.location.origin + '/public/img/'+this.selectedItem.product.image;
            }
        }
    }
</script>
