<template>
    <div>
        <div class="mb-8 border-b border-dashed pb-2">
            <header class="flex justify-between">
                <span class="font-semibold">Electrobox</span>
                <span class="font-semibold">#{{transaction.id}}</span>
            </header>
            <div class="text-grey-darker text-sm">
                <span>{{transaction.created_at}}</span>
                <span class="w-1 h-1 bg-blue-light inline-block rounded-full"></span>
                <span class="text-blue">{{transaction.status}}</span>
            </div>
            <div class="flex justify-between items-center -mx-2">
                <div class="flex items-center">
                    <a href="<?= site_url('/product/cart') ?>"><img class="h-4 w-4 m-2" src="https://cdn.shopify.com/s/files/1/0088/4005/2836/t/8/assets/bag.svg?81" alt=""></a>
                    <span>{{transaction.item_count}} item purchased</span>
                </div>
                <div>
                    <span>Total</span>
                    <span class="font-semibold">Rp {{parseInt(transaction.total) | toCurrency}}</span>
                </div>
                <div @click="toggle" class="flex items-center">
                    <span class="cursor-pointer text-blue">detail</span>
                    <i  class="text-grey material-icons cursor-pointer">
                    expand_more
                    </i>
                </div>
            </div>
        </div>
        
        <collapse-transition>

            <div v-if="isOpen" class="flex flex-wrap -mx-4">
                <div class="w-1/2 px-4">
                    <ul class="order-list">

                        <li v-for="product in transaction.products" class="order-item">
                            <!-- image -->
                            <div class="image-stack px-2">
                                <img class="shadow" :src="imageLink(product.image)" alt="">
                                <span class="top-right-bubble">
                                    {{product.qty}}
                                </span>
                            </div>
                            <div class="flex-1 px-2">
                                <!-- product name -->
                                <p class="product-name">{{product.name}}</p>
                                <!-- price -->
                                <p class="product-price">{{parseInt(product.subtotal) | toCurrency}}</p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="w-1/2 px-4">
                    <div class=" mb-3 ">
                        <p class="font-semibold leading-normal">Payment method</p>
                        <p>{{transaction.payment_method}}</p>
                    </div>
                    <div class="mb-3 ">
                        <p class="font-semibold leading-normal">Shipping address</p>
                        <p>
                            {{transaction.shipping_address}}
                        </p>
                    </div>
                    <div class="mb-3  ">
                        <p class="font-semibold leading-normal">Shipping method</p>
                        <p>
                            {{transaction.shipping_method}}
                        </p>
                    </div>
                    <div class=" mb-3 ">
                        <p class="font-semibold leading-normal">Shipping fee</p>
                        <p>{{parseInt(transaction.shipping_fee) | toCurrency}}</p>
                    </div>
                </div>          
            </div>
        </collapse-transition>

        
    </div>

</template>

<script>
    import {CollapseTransition} from 'vue2-transitions'
    export default {
        components: {
            CollapseTransition
        },
        data(){
            return {
                isOpen : false
            }
        },
        methods : {
            toggle(){
                this.isOpen = !this.isOpen
            },
            imageLink(imgName){
                return window.location.origin + '/public/img/'+ imgName;
            }
        },
        computed : {
            itemPurchaseCount(){
                return this.orderHistory.products.length
            }

        },
        props : {
            transaction : {
                required : true
            }

            // orderHistory : {

            //     default : () => ({
            //         'order_id' : '212',
            //         'purchase_date' : '3 Mei 2019',
            //         'status' : 'Pending',
            //         'total' : 120000,
            //         'payment_method' : 'Cash on Delivery',
            //         'shipping_address' : 'gerald luther 5thstreet appt3 JK Olympia 11330 Indonesia ‎0812-4091-312',
            //         'shipping_method' : 'Free Shipping',
            //         'products' : [
            //             {
            //                 'id' : 2,
            //                 'product_name' : 'Cras vitae diam placerat, lobortis arcu nec' ,
            //                 'price' : 350000,
            //                 'qty' : 2,
            //                 'total' : 700000
            //             },
            //             {
            //                 'id' : 2,
            //                 'product_name' : 'Cras vitae diam placerat, lobortis arcu nec' ,
            //                 'price' : 350000,
            //                 'qty' : 2,
            //                 'total' : 700000
            //             },
            //             {
            //                 'id' : 2,
            //                 'product_name' : 'Cras vitae diam placerat, lobortis arcu nec' ,
            //                 'price' : 350000,
            //                 'qty' : 2,
            //                 'total' : 700000
            //             }
            //         ]

            //     })

            // }
        },
    }
</script>
