<template>
    <fade-transition :duration="800">
        <slot v-if="isAppear"></slot>    
    </fade-transition>
</template>

<script>
    import {FadeTransition} from 'vue2-transitions'
    export default {
        components: {
            FadeTransition
        },
        mounted(){
            setTimeout(() => {this.isAppear = false}, 2000);
        },
        data(){
            return {
                isAppear : true
            }
        }
    }
</script>
