<template>

    <div class="overlay overflow-auto" :class="{'active':isOpen}">
        <zoom-center-transition>
            <div v-show="showModal" class="w-2/5 mx-auto h-screen flex"  >
                <div class=" my-auto bg-white p-8 text-center w-full" >
                    <p class="font-bold leading-loose">Attention!</p>
                    <p class="">It looks like you dont have any address yet</p>
                    <div>
                        <a :href="profileLink" class="mt-10 block full-btn secondary-btn link-btn">ADD</a>
                    </div>
                </div>
               
            </div>
        </zoom-center-transition>
        
    </div>
</template>

<script>
    import {ZoomCenterTransition} from 'vue2-transitions'
    export default {
        mounted(){
            setTimeout(() => {this.showModal = true}, 300);
        },
        components: {
            ZoomCenterTransition
        },
        data(){
            return {
                isOpen : false,
                showModal : false
            }
        },
        methods : {
            toggleModal(){
                this.isOpen = !this.isOpen
            },
        },
        computed : {
            profileLink(){
                return window.location.origin + '/index.php/account/profile';
                
            }
        },
    }
</script>
