<template>
    <!-- form -->
    <form action="#" class="my-12">
        <div>
            <!-- form legend -->
            <div class="flex justify-between">
                <p>Contact Information</p>
                <p v-if="!isLogin">Already have an account? <a :href="loginLink">Log in</a></p>
            </div>

            <div v-if="isLogin" class="flex items-center mt-4">
                <div class="w-16 bg-teal-lighter rounded-lg mr-4">
                    <img class="w-full " :src="emptyImageLink" alt="">
                </div>
                <div>
                    <p>
                        <span class="capitalize">{{current_user.firstname}} {{current_user.lastname}}</span> <span>({{current_user.email}})</span>
                    </p>
                    <a :href="logoutLink">Log out</a>
                </div>
            </div>
            
            <div v-if="!isLogin">
                <div class="mt-4 relative border rounded appearance-none label-floating" :class="{'border-red':$v.customerInfo.email.$error}">
                    <input @focus="$v.customerInfo.email.$reset" @blur="$v.customerInfo.email.$touch" v-model="customerInfo.email" class="w-full py-2 px-3 text-green-darker leading-normal rounded" name="email" id="email" type="text" placeholder="Email">
                    <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="email">
                      Email
                    </label>
                </div>
                <div v-if="$v.customerInfo.email.$dirty" class="mt-1">
                    <div v-if="!$v.customerInfo.email.required" class="text-sm text-red">*Email is required</div>
                    <div v-if="!$v.customerInfo.email.email" class="text-sm text-red">*Provide a valid email address</div>
                </div>
            </div>
            

            <div class="mt-4">
                <label class="flex items-center">
                  <input class="mr-2 leading-tight w-4 h-4" type="checkbox">
                  <span class="text-sm">
                    Keep me up to date on news and exclusive offers
                  </span>
                </label>
            </div>
        </div>

        <div class="mt-12">
            <!-- form legend -->
            <div>
                <p>Shipping Address</p>
            </div>

            <div class="mt-4" v-if="isLogin">
                <div class="relative">
                    <label class="pointer-events-none absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="address_id" style="font-size: 0.6rem;">
                      Stored address
                    </label>
                    <select @change="fillCustomerInfo" v-model="customerInfo.address_id" class="pt-6 block appearance-none w-full bg-white border border-grey-light hover:border-grey px-3 py-2 pr-12 rounded  leading-tight focus:outline-none" id="address_id" name="address_id" :class="{'border-red':$v.customerInfo.address_id.$error}">
                        <option value="" hidden disabled>Choose Address</option>
                        <option v-for="address in userStoredAddress" :value="address.id">{{address.address}}</option>
                    </select>
                    <div class="border-l h-8 pointer-events-none absolute flex items-center px-2 text-grey-darker" style="top: 25%; right: 0;">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                </div>
                
                <div v-if="$v.customerInfo.address_id.$dirty" class="mt-1">
                    <div v-if="!$v.customerInfo.address_id.required" class="text-sm text-red">*Address is required</div>
                </div>
                
            </div>

            <div class="mt-4 flex -mx-2 mb-6">
                <div class="w-1/2 px-2">
                    <div class="relative border rounded appearance-none label-floating" :class="{'border-red':$v.customerInfo.firstname.$error && !isLogin}">
                        <input :disabled="isLogin" v-model="customerInfo.firstname" @focus="$v.customerInfo.firstname.$reset" @blur="$v.customerInfo.firstname.$touch" class="w-full py-2 px-3 text-green-darker leading-normal rounded" name="firstName" id="firstName" type="text" placeholder="First Name">
                        <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="firstName">
                          First Name
                        </label>
                    </div>
                    <div v-if="$v.customerInfo.firstname.$dirty" class="mt-1">
                        <div v-if="!$v.customerInfo.firstname.required && !isLogin" class="text-sm text-red">*First Name is required</div>
                    </div>
                    
                </div>
                <div class="w-1/2 px-2" >
                    <div class="relative border rounded appearance-none label-floating" :class="{'border-red':$v.customerInfo.lastname.$error && !isLogin}">
                        <input :disabled="isLogin" v-model="customerInfo.lastname" @focus="$v.customerInfo.lastname.$reset" @blur="$v.customerInfo.lastname.$touch" class="w-full py-2 px-3 text-green-darker leading-normal rounded" name="lastname" id="lastname" type="text" placeholder="Last Name">
                        <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="lastname">
                          Last Name
                        </label>
                    </div>
                    <div v-if="$v.customerInfo.lastname.$dirty" class="mt-1">
                        <div v-if="!$v.customerInfo.lastname.required && !isLogin" class="text-sm text-red">*Last Name is required</div>
                    </div>
                </div>
            </div>

            

            
            <div class="mt-4 flex -mx-2 mb-6">
                <div class="w-1/2 mx-2" >
                    <div class="relative">
                        <label class="pointer-events-none absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="province" style="font-size: 0.6rem;">
                          Province
                        </label>
                        <select :disabled="isLogin" @change="updateCity" v-model="customerInfo.province" class="pt-6 block appearance-none w-full bg-white border border-grey-light hover:border-grey px-3 py-2 pr-12 rounded  leading-tight focus:outline-none" id="province" name="province" :class="{'border-red':$v.customerInfo.province.$error && !isLogin}">
                            <option value="" hidden disabled>Choose Province</option>
                            <option v-for="province in listOfProvince" :value="province">{{province}}</option>
                        </select>
                        <div class="border-l h-8 pointer-events-none absolute flex items-center px-2 text-grey-darker" style="top: 25%; right: 0;">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                    
                    <div v-if="$v.customerInfo.province.$dirty" class="mt-1">
                        <div v-if="!$v.customerInfo.province.required && !isLogin" class="text-sm text-red">*Province is required</div>
                    </div>
                    
                </div>

                <div class="w-1/2 mx-2">
                    <div class="relative">
                        <label class="pointer-events-none absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="city" style="font-size: 0.6rem;">
                          City
                        </label>
                        <select @change="updateSubdistrict" v-model="customerInfo.city" :disabled="listOfCity.length == 0 || isLogin " class="pt-6 block appearance-none w-full bg-white border border-grey-light hover:border-grey px-3 py-2 pr-12 rounded  leading-tight focus:outline-none" id="city" name="city" :class="{'border-red':$v.customerInfo.city.$error && !isLogin}">
                            <option value="" hidden disabled>Choose City</option>
                            <option v-for="city in listOfCity" :value="city">{{city}}</option>
                        </select>
                        <div class="border-l h-8 pointer-events-none absolute flex items-center px-2 text-grey-darker" style="top: 25%; right: 0;">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                    <div v-if="$v.customerInfo.city.$dirty" class="mt-1">
                        <div v-if="!$v.customerInfo.city.required && !isLogin" class="text-sm text-red">*City is required</div>
                    </div>
                    
                </div>

                

                
            </div>

            <div class="mt-4 flex -mx-2 mb-6">
                <div class="w-1/2 mx-2">
                    <div class="relative">
                        <label class="pointer-events-none absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="subdistrict" style="font-size: 0.6rem;">
                          Sub-district
                        </label>
                        <select :disabled="listOfSubdistrict.length == 0 || isLogin" v-model="customerInfo.subdistrict" class="pt-6 block appearance-none w-full bg-white border border-grey-light hover:border-grey px-3 py-2 pr-12 rounded  leading-tight focus:outline-none" id="subdistrict" name="subdistrict" :class="{'border-red':$v.customerInfo.subdistrict.$error && !isLogin}">
                            <option value="" hidden disabled>Choose Sub-district</option>
                            <option v-for="subdistrict in listOfSubdistrict" :value="subdistrict">{{subdistrict}}</option>
                        </select>
                        <div class="border-l h-8 pointer-events-none absolute flex items-center px-2 text-grey-darker" style="top: 25%; right: 0;">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                    <div v-if="$v.customerInfo.subdistrict.$dirty" class="mt-1">
                        <div v-if="!$v.customerInfo.subdistrict.required && !isLogin" class="text-sm text-red">*Sub-district is required</div>
                    </div>
                    
                </div>


                <div class="w-1/2 mx-2">
                    <div class="relative border rounded appearance-none label-floating" :class="{'border-red':$v.customerInfo.postalCode.$error && !isLogin}">
                        <input :disabled="isLogin" v-model="customerInfo.postalCode" @focus="$v.customerInfo.postalCode.$reset" @blur="$v.customerInfo.postalCode.$touch" class="w-full py-2 px-3 text-green-darker leading-normal rounded" maxlength="5" name="postalCode" id="postalCode" type="text" placeholder="Postal Code">
                        <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="postalCode">
                          Postal Code
                        </label>
                    </div>
                    <div v-if="$v.customerInfo.postalCode.$dirty" class="mt-1">
                        <div v-if="!$v.customerInfo.postalCode.required && !isLogin" class="text-sm text-red">*Postal Code is required</div>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-6">
                <div class="relative border rounded appearance-none label-floating" :class="{'border-red':$v.customerInfo.address.$error && !isLogin}">
                    <input :disabled="isLogin" v-model="customerInfo.address" @focus="$v.customerInfo.address.$reset" @blur="$v.customerInfo.address.$touch" class="w-full py-2 px-3 text-green-darker leading-normal rounded" name="address" id="address" type="text" placeholder="Address">
                    <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="address">
                      Address
                    </label>
                </div>
                <div v-if="$v.customerInfo.address.$dirty" class="mt-1">
                    <div v-if="!$v.customerInfo.address.required && !isLogin" class="text-sm text-red">*Address is required</div>
                </div>
            </div>

            <div class="mt-3">
                <div class="relative border rounded appearance-none label-floating" :class="{'border-red':$v.customerInfo.phone.$error && !isLogin}">
                    <input :disabled="isLogin" maxlength="12" v-model="customerInfo.phone" @focus="$v.customerInfo.phone.$reset" @blur="$v.customerInfo.phone.$touch" class="w-full py-2 px-3 text-green-darker leading-normal rounded" name="phone" id="phone" type="text" placeholder="Phone">
                    <label class="absolute block text-grey pin-t pin-l w-full px-3 py-2 leading-normal" for="phone">
                      Phone
                    </label>
                </div>
                <div v-if="$v.customerInfo.phone.$dirty" class="mt-1">
                    <div v-if="!$v.customerInfo.phone.required && !isLogin" class="text-sm text-red">*Phone is required</div>
                </div>
            </div>
        </div>

        <div class="mt-8 flex justify-between">
            <div class="flex items-center">
                <i class="material-icons">
                arrow_back_ios
                </i>
                
                <a  :href="cartLink" class="no-underline">
                    Return to cart
                </a>
            </div>
            
            
            <a @click="saveCustomerInfo" :href="shippingLink" class="checkout-btn link-btn">Continue to shipping method</a>
            
        </div>
    </form>
</template>

<script>
    import { required, email } from 'vuelidate/lib/validators'
    import { Address } from './../utils/Address.js'
    import axios from 'axios';

    const BASE_LINK = window.location.origin ;
    export default {
        watch:{
           'customerInfo.phone' : function(val) {
               this.customerInfo.phone = val.replace(/\D/g,'');
            },
            'customerInfo.postalCode' : function(val)  {
               this.customerInfo.postalCode = val.replace(/\D/g,'');
            },
            'current_user' : function(val){
                // do an ajax request for user address
                axios.get(BASE_LINK + '/index.php/address/' + val.id)
                .then((response) => {
                    this.userStoredAddress = response.data
                    if(this.userStoredAddress.length == 0){
                        this.$parent.$emit('openNoAddressModal')
                    }
                })
            }
        },
        mounted() {
            if (localStorage.getItem('customerInfo')) {
              try {
                this.customerInfo = JSON.parse(localStorage.getItem('customerInfo'));
              } catch(e) {
                localStorage.removeItem('customerInfo');
              }
            }

            this.listOfCity = Address.getCity(this.customerInfo.province)
            this.listOfSubdistrict = Address.getSubdistrict(this.customerInfo.city)

        },
        props : {
            current_user : {
                required : true
            }
        },
        data(){
            return {
                customerInfo : {
                    address_id : '',
                    email : '',
                    firstname : '',
                    lastname : '',
                    province : '',
                    city : '',
                    subdistrict : '',
                    postalCode: '',
                    address : '',
                    phone: ''
                },

                userStoredAddress : [],
                listOfProvince : Address.getProvince(),
                listOfCity : [],
                listOfSubdistrict : [],

            }
        },
        validations: {
            customerInfo : {
                address_id : { required },
                email : { required,  email },
                firstname: { required },
                lastname: { required },
                province: { required },
                city: { required },
                subdistrict: { required },
                postalCode: { required },
                address: { required },
                phone: { required }
            }
            

        },
        methods : {
            fillCustomerInfo(){

                let selectedAddress = this.userStoredAddress.find((item) => {
                    return this.customerInfo.address_id == item.id
                })

                
                
                this.customerInfo.email = this.current_user.email
                this.customerInfo.firstname = selectedAddress.firstname
                this.customerInfo.lastname = selectedAddress.lastname
                this.customerInfo.province = selectedAddress.province

                this.listOfCity = Address.getCity(this.customerInfo.province)
                this.customerInfo.city = selectedAddress.city

                this.listOfSubdistrict = Address.getSubdistrict(this.customerInfo.city)
                this.customerInfo.subdistrict = selectedAddress.sub_district
                this.customerInfo.postalCode = selectedAddress.postal_code
                this.customerInfo.address = selectedAddress.address
                this.customerInfo.phone = selectedAddress.phone

            },
            saveCustomerInfo(e){
                if(!this.isLogin){
                    this.customerInfo.address_id = "-1"
                }
                else{
                    this.customerInfo.user_id = this.current_user.id
                }

                this.$v.$touch();
                if (this.$v.$invalid) {
                   e.preventDefault()
                }
                else{

                    this.customerInfo.shipping_address = this.getShippingAddress()
                    localStorage.setItem('customerInfo', JSON.stringify(this.customerInfo));
                }

                

            },
            getShippingAddress(){
                return this.customerInfo.address + " , " + this.customerInfo.province + " , " +  this.customerInfo.city + " , " + this.customerInfo.subdistrict + " , " + this.customerInfo.postalCode
            },            
            updateCity(){
                this.listOfSubdistrict = []
                this.customerInfo.subdistrict =""
                this.customerInfo.city = ""
                this.listOfCity = Address.getCity(this.customerInfo.province)
            },
            updateSubdistrict(){
                this.listOfSubdistrict = []
                this.customerInfo.subdistrict =""
                this.listOfSubdistrict = Address.getSubdistrict(this.customerInfo.city)
            }
        },
        computed : {
            isLogin(){
                return !this.$parent.isEmptyObject(this.current_user)
            },
            loginLink(){
                return window.location.origin + '/index.php/account';
            },
            logoutLink(){
                return window.location.origin + '/index.php/account/logout';
            },
            cartLink(){
                return window.location.origin + '/index.php/product/cart';
            },
            shippingLink(){
                return window.location.origin + '/index.php/checkout/shipping';
            },
            emptyImageLink(){
                return window.location.origin + '/public/img/empty-user2.png';
            },
        },
    }
</script>
