<template>
    <!-- Form field -->
    <form :action="loginLink" method="POST">
        <div class="mb-4">
            <div class="form-group-underline" :class="{'border-red':$v.email.$error}">
                <input v-model="email" @focus="$v.email.$reset" @blur="$v.email.$touch" class="form-control-underline" name="email" type="text" placeholder="Email">
            </div>
            <div v-if="$v.email.$dirty">
                <div v-if="!$v.email.required" class="-mt-3 text-xs text-red">* Email is required</div>
                <div v-if="!$v.email.email" class="-mt-3 text-xs text-red">* Provide a valid email address</div>
            </div>
        </div>
        
        <div class="mb-4">
            <div class="form-group-underline" :class="{'border-red':$v.password.$error}">
                <input v-model="password" @focus="$v.password.$reset" @blur="$v.password.$touch" class="form-control-underline" name="password" type="password" placeholder="Password">
                <p class="text-grey-darkest text-xs">Forget Password?</p>
            </div>
            <div v-if="$v.password.$dirty">
                <div v-if="!$v.password.required" class="-mt-3 text-xs text-red">* Password is required</div>
            </div>
        </div>
        

        <div>
            <button @click="login" class="mt-10 block full-btn secondary-btn " type="submit">LOGIN</button>
        </div>
    </form>
</template>

<script>
    import { required, email } from 'vuelidate/lib/validators'
    export default {
        data(){
            return {
                email : '',
                password : ''
            }
        },
        validations: {
            email : { required,  email },
            password: { required }
        },
        methods : {
            login(e){
                this.$v.$touch();
                if (this.$v.$invalid) {
                   e.preventDefault()
                }
            }
        },
        computed : {
            loginLink(){
                return window.location.origin + '/index.php/account/login';
            },
        },
    }
</script>
