<template>
    <!-- user transactions -->
    <div>
        <!-- if no order has been made -->
        <p v-if="transactions.length == 0" class="text-grey-darker">
            You haven't placed any orders yet?
        </p>
        <collapsible-order v-for="transaction in transactions" :transaction="transaction" :key="transaction.id"></collapsible-order>
    </div>
</template>

<script>
    import CollapsibleOrder from './CollapsibleOrder.vue';
    import axios from 'axios';

    const BASE_LINK = window.location.origin ;

    export default {
        watch : {
            'current_user' : function(val) {
                if(!this.$parent.isEmptyObject(val)){
                    // do an ajax request for user cart
                    axios.get(BASE_LINK + '/index.php/transaction/' + this.current_user.id)
                    .then((response) => {
                        this.transactions = response.data
                    })
                }
                
            }
        },

        components: {
            CollapsibleOrder
        },

        data(){
            return {
                transactions : []
            }
        },
        props : {
            current_user : {
                required : true
            }
        }
    }
</script>
