<template>
    <div class="overlay" :class="{'active':isOpen}">
        <div class="sm:w-3/5 lg:w-2/5 cart">
            <header class="flex justify-between">
                <p>MY BAG</p>
                <i class="material-icons cursor-pointer" @click="closeCart">
                close
                </i>
            </header>
            <p class="my-8 border-t border-b py-4">{{itemCount}} Product was added to your bag</p>

            <!-- products are in cart -->
            <ul class="list-reset">
                <cart-item v-for="item in cartItems" :item="item" :key="item.id"></cart-item>
            </ul>

            <div>
                <!-- grand total -->
                <p class="font-semibold">TOTAL {{grandTotal | toCurrency}}</p>
                <p class="mt-4">Shipping &amp; taxes calculated at checkout</p>

                <div class="flex justify-between flex-wrap -mx-2 mt-10">
                    <a :href="cartLink" class="flex-1 mx-2 secondary-btn link-btn">CART</a>
                    <a :href="checkoutLink" class="flex-1 mx-2 secondary-btn link-btn">CHECKOUT</a>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import CartItem from './CartItem.vue';
    import axios from 'axios';

    const BASE_LINK = window.location.origin ;

    export default {
        watch : {
            'currentUser' : function(val) {
                if(!this.$parent.isEmptyObject(val)){
                    // do an ajax request for user cart
                    axios.get(BASE_LINK + '/index.php/cart/' + this.currentUser.id)
                    .then((response) => {
                        this.cartItems = response.data
                        this.calculateGrandTotal()
                    })
                }
                
            }
        },
        mounted(){
            axios.get(BASE_LINK + '/index.php/user/current')
            .then((response) => {
                this.currentUser = response.data
            })

            this.$on('increased',(emittedItem)=>{

                let increasedItem = this.cartItems.find((item) => {
                    return emittedItem.product.id == item.product.id
                })

                increasedItem.qty++
                increasedItem.subtotal = increasedItem.qty * increasedItem.product.price

                if(this.isLogin()){
                    // send ajax request to update qty of the product 
                    axios.put(BASE_LINK + '/index.php/cart',{
                     'id' : increasedItem.id,
                     'qty' : increasedItem.qty,
                     'subtotal' : increasedItem.product.price*increasedItem.qty
                    })
                }
                else{
                    localStorage.setItem('cartItems', JSON.stringify(this.cartItems));
                }
                
                this.grandTotal+= parseInt(increasedItem.product.price)

            })

            this.$on('decreased',(emittedItem)=>{

                let decreasedItem = this.cartItems.find((item) => {
                    return emittedItem.product.id == item.product.id
                })

                decreasedItem.qty--
                decreasedItem.subtotal = decreasedItem.qty * decreasedItem.product.price


                if(this.isLogin()){
                    // send ajax request to update qty of the product 
                    axios.put(BASE_LINK + '/index.php/cart',{
                     'id' : decreasedItem.id,
                     'qty' : decreasedItem.qty,
                     'subtotal' : decreasedItem.product.price*decreasedItem.qty
                    })
                }
                else{
                    localStorage.setItem('cartItems', JSON.stringify(this.cartItems));
                }

                this.grandTotal -= parseInt(decreasedItem.product.price)


            })

            if (localStorage.getItem('cartItems')) {
              try {
                this.cartItems = JSON.parse(localStorage.getItem('cartItems'));
                this.calculateGrandTotal()
              } catch(e) {
                localStorage.removeItem('cartItems');
              }
            }
            
        },

        components: {
            CartItem
        },
        computed : {
            itemCount(){
                return this.cartItems.length

            },
            
            cartLink(){
                return window.location.origin + '/index.php/product/cart';
            },
            checkoutLink(){
                return window.location.origin + '/index.php/checkout/information';
            }
        },
        data(){
            return {
                currentUser : {},
                cartItems : [],
                isOpen : false,
                grandTotal : 0
            }
        },
        methods : {
            calculateGrandTotal(){
                //return 700000
                let grandTotal = 0
                this.cartItems.forEach((item)=>{
                    grandTotal += parseInt( item.subtotal)
                })
                return this.grandTotal = grandTotal
            },
            isLogin(){
                return !(Object.keys(this.currentUser).length === 0 && this.currentUser.constructor === Object)
            },
            addToCart(product){
                let existedItem = this.cartItems.find((item) => {
                    return product.id == item.product.id
                })

                if(this.isLogin()){
                    if(existedItem){
                        // send ajax request to update qty of the product 
                        axios.put(BASE_LINK + '/index.php/cart',{
                         'id' : existedItem.id,
                         'qty' : ++existedItem.qty,
                         'subtotal' : existedItem.product.price*existedItem.qty
                        })
                    }
                    else{
                       // send ajax request to add product to cart
                       axios.post(BASE_LINK + '/index.php/cart',{
                        'user_id' : this.currentUser.id,
                        'product_id' : product.id,
                        'qty' : 1,
                        'subtotal' : product.price
                       })
                       .then((response) => {
                           let cart = {
                               'id' : response.data.id,
                               'product' : {
                                  'id' : product.id,
                                  'name' : product.name,
                                  'price' : product.price,
                                  'image' : product.image
                               },
                               'qty' : 1,
                               'subtotal' : product.price
                           }
                           this.cartItems.push(cart)
                       }) 
                    }

                    
                }
                else{
                    
                    if(existedItem){
                        existedItem.qty++
                        existedItem.subtotal = existedItem.qty * existedItem.product.price
                    }
                    else{
                        let cart = {
                            'product' : {
                               'id' : product.id,
                               'name' : product.name,
                               'price' : product.price,
                               'image' : product.image
                            },
                            'qty' : 1,
                            'subtotal' : product.price
                        }
                       this.cartItems.push(cart) 
                    }
                    

                    
                    localStorage.setItem('cartItems', JSON.stringify(this.cartItems));
                }
                
                //this.calculateGrandTotal()
                this.grandTotal += parseInt(product.price)
                this.isOpen = true
            },
            closeCart(){
                this.isOpen = false
            }
        }
    }
</script>
