<template>
    <!-- form -->
    <form action="#" class="my-12">
        <div class="mt-12">
            <!-- form legend -->
            <div>
                <p>Payment</p>
            </div>


            <div class="mt-4 border rounded">
                <label class="flex justify-between py-3 px-3 border-b">
                    <div class="flex items-center">
                        <input v-model="customerInfo.payment_method" value="Cash on Delivery" class="mr-2 leading-tight w-4 h-4" type="radio" name="payment">
                        <span class="text-sm">
                          Cash on Delivery
                        </span>
                    </div>
                    <div class="w-16">
                        <img :src="codLink" class="w-full">
                    </div>
                    
                </label>

                <label class="flex justify-between py-3 px-3">
                    <div class="flex items-center">
                        <input v-model="customerInfo.payment_method" value="BCA Virtual Account" class="mr-2 leading-tight w-4 h-4" type="radio" name="payment">
                        <span class="text-sm">
                          BCA Virtual Account
                        </span>
                    </div>
                    <div class="w-16">
                        <img :src="bcaLink" class="w-full">
                    </div>
                    
                </label>
            </div>
            <div v-if="$v.customerInfo.payment_method.$dirty" class="mt-2">
                <div v-if="!$v.customerInfo.payment_method.required" class="text-sm text-red">*Please Choose your payment method!</div>
            </div>
        </div>


        <div class="mt-8 flex justify-between">
            <div class="flex items-center">
                <i class="material-icons">
                arrow_back_ios
                </i>
                
                <a :href="shippingLink" class="no-underline">
                    Return to shipping method
                </a>
            </div>
            <a @click="saveCustomerInfo" :href="confirmLink" class="checkout-btn link-btn">Complete Order</a>
        </div>
    </form>
</template>

<script>
    import { required } from 'vuelidate/lib/validators'
    import axios from 'axios';

    const BASE_LINK = window.location.origin ;
    export default {
        validations: {
            customerInfo : {
                payment_method : { required }
            }
        },
        watch : {
            'current_user' : function(val){
                if(!this.$parent.isEmptyObject(val)){
                    // do an ajax request for user cart
                    axios.get(BASE_LINK + '/index.php/cart/' + this.current_user.id)
                    .then((response) => {
                        this.cartItems = response.data
                    })
                }
            }
        },
        
        mounted() {
            if (localStorage.getItem('customerInfo')) {
              try {
                this.customerInfo = JSON.parse(localStorage.getItem('customerInfo'));
              } catch(e) {
                localStorage.removeItem('customerInfo');
              }
            }

            if (localStorage.getItem('cartItems')) {
              try {
                this.cartItems = JSON.parse(localStorage.getItem('cartItems'));
              } catch(e) {
                localStorage.removeItem('cartItems');
              }
            }
        },
        data(){
            return {
                customerInfo : {},
                cartItems : []
            }
        },
        props : {
            current_user : {
                required : true
            }
        },
        methods : {
            saveCustomerInfo(e){
                this.$v.$touch();
                if (this.$v.$invalid) {
                   e.preventDefault()
                }
                else{
                    let itemCount = 0
                    let totalAmount = 0
                    this.cartItems.forEach((item)=>{
                        itemCount += parseInt(item.qty)
                    })
                    this.cartItems.forEach((item)=>{
                        totalAmount += parseInt(item.subtotal)
                    })
                    let total = parseInt(totalAmount) + parseInt(this.customerInfo.shipping_fee)
                    if(this.isLogin){
                        // send ajax request to add transaction
                        axios.post(BASE_LINK + '/index.php/transaction',{
                            'user_id' : this.customerInfo.user_id,
                            'address_id' : this.customerInfo.address_id,
                            'payment_method' : this.customerInfo.payment_method,
                            'shipping_method' : this.customerInfo.shipping_method,
                            'shipping_fee' : this.customerInfo.shipping_fee,
                            'item_count' : itemCount,
                            'total' : total,
                            'status' : 'pending'
                        })
                        .then((response) => {
                            console.log(response.data)
                            this.customerInfo.transaction_id = response.data.id
                            localStorage.setItem('customerInfo', JSON.stringify(this.customerInfo));
                            localStorage.setItem('confirmationCartItems', JSON.stringify(this.cartItems));
                        })
                    }
                    else{
                        let products = []
                        this.cartItems.forEach((item)=>{
                            let product = {
                                'id' : item.product.id,
                                'qty' : item.qty,
                                'subtotal' : item.subtotal
                            }
                            products.push(product)
                        })
                        // send ajax request to add transaction
                        axios.post(BASE_LINK + '/index.php/transaction/unregister',{
                            'shipping_detail' : {
                                "email" : this.customerInfo.email,
                                "firstname" : this.customerInfo.firstname,
                                "lastname" : this.customerInfo.lastname,
                                "phone" : this.customerInfo.phone,
                                "address" : this.customerInfo.address,
                                "province" : this.customerInfo.province,
                                "city" : this.customerInfo.city,
                                "sub_district" : this.customerInfo.subdistrict,
                                "postal_code" : this.customerInfo.postalCode
                            },                       
                            'payment_method' : this.customerInfo.payment_method,
                            'shipping_method' : this.customerInfo.shipping_method,
                            'shipping_fee' : this.customerInfo.shipping_fee,
                            'products' : products,
                            'item_count' : itemCount,
                            'total' : total,
                            'status' : 'pending'
                        })
                        .then((response) => {
                            console.log(response.data)
                            this.customerInfo.transaction_id = response.data.id
                            localStorage.setItem('customerInfo', JSON.stringify(this.customerInfo));
                        })
                    }
                    this.customerInfo.transaction_id = response.data.id
                    localStorage.setItem('customerInfo', JSON.stringify(this.customerInfo));
                    
                }
            }
        },
        computed : {
            isLogin(){
                return !this.$parent.isEmptyObject(this.current_user)
            },
            confirmLink(){
                return window.location.origin + '/index.php/checkout/confirm';
            },
            shippingLink(){
                return window.location.origin + '/index.php/checkout/shipping';
            },
            bcaLink(){
                return window.location.origin + '/public/img/logo-bca.png';
            },
            codLink(){
                return window.location.origin + '/public/img/logo-cod.png';
            }
        },
    }
</script>
