<template>
    <!-- Form field -->
    <form :action="registerLink" method="POST">
        <div class="mb-4">
            <div class="form-group-underline" :class="{'border-red':$v.firstname.$error}">
                <input v-model="firstname" @focus="$v.firstname.$reset" @blur="$v.firstname.$touch" class="form-control-underline" name="firstname" type="text" placeholder="First Name">
            </div>
            <div v-if="$v.firstname.$dirty">
                <div v-if="!$v.firstname.required" class="-mt-3 text-xs text-red">* First Name is required</div>
            </div>
        </div>

        <div class="mb-4">
            <div class="form-group-underline" :class="{'border-red':$v.lastname.$error}">
                <input v-model="lastname" @focus="$v.lastname.$reset" @blur="$v.lastname.$touch" class="form-control-underline" name="lastname" type="text" placeholder="Last Name">
            </div>
            <div v-if="$v.lastname.$dirty">
                <div v-if="!$v.lastname.required" class="-mt-3 text-xs text-red">* Last Name is required</div>
            </div>
        </div>

        <div class="mb-4">
            <div class="form-group-underline" :class="{'border-red':$v.email.$error}">
                <input v-model="email" @focus="$v.email.$reset" @blur="$v.email.$touch" class="form-control-underline" name="email" type="text" placeholder="Email">
            </div>
            <div v-if="$v.email.$dirty">
                <div v-if="!$v.email.required" class="-mt-3 text-xs text-red">* Email is required</div>
                <div v-if="!$v.email.email" class="-mt-3 text-xs text-red">* Provide a valid email address</div>
            </div>
        </div>
        
        <div class="mb-4">
            <div class="form-group-underline" :class="{'border-red':$v.password.$error}">
                <input v-model="password" @focus="$v.password.$reset" @blur="$v.password.$touch" class="form-control-underline" name="password" type="password" placeholder="Password">
            </div>
            <div v-if="$v.password.$dirty">
                <div v-if="!$v.password.required" class="-mt-3 text-xs text-red">* Password is required</div>
            </div>
        </div>
        

        <div>
            <button @click="register" class="mt-10 block full-btn secondary-btn " type="submit">SIGN UP</button>
        </div>
    </form>
</template>

<script>
    import { required, email } from 'vuelidate/lib/validators'
    export default {
        data(){
            return {
                firstname : '',
                lastname : '',
                email : '',
                password : ''
            }
        },
        validations: {
            firstname: { required },
            lastname: { required },
            email : { required,  email },
            password: { required }
        },
        methods : {
            register(e){
                this.$v.$touch();
                if (this.$v.$invalid) {
                   e.preventDefault()
                }
            }
        },
        computed : {
            registerLink(){
                return window.location.origin + '/index.php/account/register';
            },
        },
    }
</script>
