<template>

    <div @click.self="toggleModal" class="overlay overflow-auto" :class="{'active':isOpen}" style="background-color: rgba(0, 0, 0, .7);">
        
        <div class="w-3/5 mx-auto h-screen flex"  >
            <div class=" my-auto w-full" >
                <div class="form-group-underline" style="border-color: white;">
                    <input @keyup.enter="redirect" v-model="query" class="4xl text-white form-control-underline" name="query" type="text" placeholder="Search products" style=" padding: 1.5rem 0; font-size: 2.25rem;">
                    <p class=" ">
                        <a :href="searchLink">
                            
                            <i class="material-icons cursor-pointer text-white" style="font-size: 36px;">
                            search
                            </i>
                        </a>
                        
                    </p>
                </div>
            </div>
           
        </div>
        
    </div>
</template>

<script>
    export default {
        mounted(){

        },
        data(){
            return {
                isOpen : false,
                query : ""
            }
        },
        methods : {
            toggleModal(){
                this.isOpen = !this.isOpen
            },
            redirect(){
                window.location.replace (  window.location.origin + '/index.php/product?search=' + this.query )
            }
        },
        computed : {
            searchLink(){
                return window.location.origin + '/index.php/product?search=' + this.query;
            }
        },
    }
</script>
