<template>
    <!-- form -->
    <form action="#" class="my-12">
        <div class="mt-12">
            <!-- form legend -->
            <div>
                <p>Shipping method</p>
            </div>


            <div class="mt-4 border rounded">
                <label class="flex justify-between py-3 px-3 border-b">
                    <div class="flex items-center">
                        <input @change="calculateShippingFee(0)" v-model="customerInfo.shipping_method" value="Free Shipping over Rp 100.000" class="mr-2 leading-tight w-4 h-4" type="radio" name="shipping">
                        <span class="text-sm">
                          Free Shipping over Rp 100.000
                        </span>
                    </div>
                    <span class="font-semibold">Free</span>
                </label>

                <label class="flex justify-between py-3 px-3">
                    <div class="flex items-center">
                        <input @change="calculateShippingFee(350000)" v-model="customerInfo.shipping_method" value="One night delivery service" class="mr-2 leading-tight w-4 h-4" type="radio" name="shipping">
                        <span class="text-sm">
                          One night delivery service
                        </span>
                    </div>
                    <span class="font-semibold">Rp 350.000</span>
                </label>
            </div>
            <div v-if="$v.customerInfo.shipping_method.$dirty" class="mt-2">
                <div v-if="!$v.customerInfo.shipping_method.required" class="text-sm text-red">*Please Choose your shipping method!</div>
            </div>
        </div>


        <div class="mt-8 flex justify-between">
            <div class="flex items-center">
                <i class="material-icons">
                arrow_back_ios
                </i>
                
                <a :href="customerInfoLink" class="no-underline">
                    Return to customer information
                </a>
            </div>
            
            
            <a @click="saveCustomerInfo" :href="paymentLink" class="checkout-btn link-btn">Continue to payment method</a>
            
        </div>
    </form>
</template>

<script>
    import { required } from 'vuelidate/lib/validators'
    export default {
        validations: {
            customerInfo : {
                shipping_method : {required}
            }
        },
        mounted() {
            if (localStorage.getItem('customerInfo')) {
              try {
                this.customerInfo = JSON.parse(localStorage.getItem('customerInfo'));
              } catch(e) {
                localStorage.removeItem('customerInfo');
              }
            }
        },
        data(){
            return {
                customerInfo : {}
            }
        },
        methods : {
            saveCustomerInfo(e){
                this.$v.$touch();
                if (this.$v.$invalid) {
                   e.preventDefault()
                }
                else{
                    localStorage.setItem('customerInfo', JSON.stringify(this.customerInfo));
                }
                

            },
            calculateShippingFee(shippingFee){
                this.customerInfo.shipping_fee = shippingFee
            }
        },
        computed : {
            customerInfoLink(){
                return window.location.origin + '/index.php/checkout/information';
            },
            paymentLink(){
                return window.location.origin + '/index.php/checkout/payment';
            }
        },
    }
</script>
