@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@tailwind preflight;
@tailwind components;

.section-header{
	@apply h-8 flex items-center justify-start;
}

.section-header .line{
	@apply bg-black w-24 mr-2;
	height: 0.10rem;
}

.primary-btn{
	@apply border px-10 py-2;
	background-color:rgba(255,255,255,0.6);
	border-color: rgba(0,0,0,0.5);
}

.secondary-btn{
	@apply px-10 py-2 text-white;
	background-color : #231b00;
}

.checkout-btn{
	@apply px-10 py-2 text-white;
	background-color: #197bbd;
}

.full-btn{
	@apply w-full
}

.link-btn{
	@apply text-center no-underline
}

.primary-btn:hover{
	@apply bg-black text-white;
}

@responsive{
	.row{
		@apply flex -mx-1 flex-wrap;
	}

	.row > div{
		@apply px-1;
	}
}




.divider{
	background-color : #6f6f6f;
	height: 0.05rem;
}

.side-nav{
	@apply w-1/4  p-2
}

.side-nav ul{
	@apply list-reset sticky pin-t leading-loose
}

.side-nav a {
	@apply text-grey-darker font-semibold
}

nav a{
	@apply no-underline text-black
}

.form-group-underline{
	@apply flex items-center mb-4 border-b border-teal
}

.form-group-underline .form-control-underline{
	@apply flex-1 py-2 bg-transparent
}

.form-group-underline .form-control-underline:focus{
	@apply outline-none
}

.dropdown-menu li{
	@apply pl-10 leading-normal 
}

.dropdown-menu a{
	@apply text-sm font-thin
}

.filter{
	@apply mt-4 -mx-6
}

.filter span{
	@apply mx-4 p-2 uppercase text-sm
}

.filter span a{
	@apply no-underline uppercase text-sm;
	text-color : #231b00;
}

.product-short-desc{
	@apply leading-normal mt-2
}

.product-short-desc p {
	font-family: 'Catamaran', sans-serif;
}

.product-name{
	font-family: 'Catamaran', sans-serif;
}

.product-header{
	@apply font-light uppercase;
	line-height: 1.75rem;
	font-family: 'Catamaran', sans-serif;

}

.product-header p:last-child, .product-price{
	color: #6f6f6f;
}

.product-main{
	@apply font-light mt-4 tracking-wide;
	font-family: 'Catamaran', sans-serif;

}

.accordion-item{
	@apply border-b py-4
}

.accordion-item header{
	@apply flex items-center justify-between 
}

.accordion-item > div{
	@apply font-light mt-4 tracking-wide;
	font-family: 'Catamaran', sans-serif;
}

.accordion-item:last-child{
	@apply border-0 
}

.accordion{
	@apply border-b border-t 
}

.overlay{
	@apply z-30 fixed pin invisible opacity-0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.4s ease-in-out;

}

.overlay.active{
	@apply visible opacity-100
}

.cart{
	@apply bg-white h-full ml-auto p-16 overflow-auto;
	transform: translateX(100%);
	transition: 0.4s ease-in-out;
}

.overlay.active .cart{
	transform: translateX(0);
}

.cart-item{
	@apply border-b pb-8 mb-8
}

.cart-item:last-child{
	@apply border-0
}

.order-list{
	@apply list-reset
}

.order-list .order-item{
	@apply flex -mx-2 items-center mb-4 pb-2 border-b border-dashed
}

.order-list .order-item:last-child{
	@apply border-0
}

.image-stack{
	@apply relative w-1/4
}

.image-stack .top-right-bubble{
	@apply text-sm px-2 flex inline-flex text-white items-center justify-center rounded-full absolute bg-red;
	top: -15%; right: 10%; min-height:1.5rem; min-width:1.5rem; background-color: rgba(114,114,114,0.9);
}

@tailwind utilities;

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



